node_modules
.DS_Store
dist
dist-ssr
*.local
.vscode
.env
.tanstack/

# Vitest
/coverage

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# idea
.idea/
$\nplaywright/.clerk
