node_modules
.DS_Store
dist
dev-dist
dist-ssr
*.local
.vscode
.env
.tanstack/

# Vitest
/coverage

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.clerk

# idea
.idea/


