name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Setup and Build
        uses: ./.github/actions/setup-and-build
        with:
          node-version: '20'
          fetch-depth: '0'
      - name: Zip dist directory
        run: |
          if [ -d "dist" ]; then
            zip -r dist.zip ./dist
          else
            echo "dist directory not found, skipping zip."
            exit 0
          fi
        shell: bash
      - name: Generate Changelog and Create Release
        id: release_drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          publish: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release Asset (dist.zip)
        if: steps.release_drafter.outputs.upload_url && hashFiles('./dist.zip')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_drafter.outputs.upload_url }}
          asset_path: ./dist.zip
          asset_name: dist.zip
          asset_content_type: application/zip
