name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup and Build
        uses: ./.github/actions/setup-and-build
        with:
          node-version: '20'
          fetch-depth: '0'
      - name: Zip dist directory
        run: |
          if [ -d "dist" ]; then
            zip -r dist.zip ./dist
          else
            echo "dist directory not found, skipping zip."
            exit 0
          fi
        shell: bash
      - name: Generate changelog and create release
        id: release_drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          publish: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload release asset (dist.zip)
        if: steps.release_drafter.outputs.upload_url && hashFiles('./dist.zip')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.release_drafter.outputs.tag_name }}
          name: ${{ steps.release_drafter.outputs.name }}
          body: ${{ steps.release_drafter.outputs.body }}
          files: ./dist.zip
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
